// start - Font Size

.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-130 {
  font-size: 130px !important;
}
.fs-60 {
  font-size: 60px !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.border-rad-20 {
  border-radius: 20px !important;
}
.border-rad-10 {
  border-radius: 10px !important;
}
.border-rad-5 {
  border-radius: 5px !important;
}
// end - Font Size

.bg-black {
  background-color: #000;
}

// start - Text
.text-line-height {
  line-height: 1;
}
.text-center {
  text-align: center;
}

.text-cormorant {
  font-family: "Cormorant";
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #c0c4cc;
}

.text-blue {
  color: #409eff;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}

.text-gold {
  color: #b49761;
}
.text-italic {
  font-style: italic;
}
// end - Text

// start - Cursor & Link
.cursor {
  cursor: pointer;
  &:hover {
    color: #ccc;
    text-decoration: none;
  }
}

.link {
  color: #409eff;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
// end - Cursor & Link

// start - Element UI
.el-breadcrumb__inner {
  color: #c0c4cc !important;
}
.el-breadcrumb__inner.is-link {
  &:hover {
    color: #409eff !important;
  }
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #409eff !important;
  :hover {
    color: #c0c4cc !important;
  }
}

.el-input__inner {
  padding: 5px 30px;
  height: auto;
  border: none;
  background-color: #f2f3f7;
  border-radius: 25px;
  color: #409eff;
}
.el-input__suffix {
  padding-right: 15px;
}

.el-input-number__decrease {
  border-radius: 22px 0px 0px 22px;
}
.el-input-number__increase {
  border-radius: 0px 22px 22px 0px;
}

.el-input-number__decrease,
.el-input-number__increase {
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 40px;
  height: 49px;
  text-align: center;
  background: #f5f7fa;
  color: #606266;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-button {
  font-size: auto !important;
}

.el-tooltip__popper {
  padding: 30px;
}
.el-input__suffix,
.el-input__prefix {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.el-textarea__inner {
  border-radius: 6px;
}
// end - Element UI

.btn-fill-white {
  transition: all ease 0.3s;
  background-color: #fff;
  font-family: OpenSans;
  cursor: pointer;
  box-sizing: border-box;
  color: #000;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  padding: 10px 30px;
  border-radius: 0px;
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}
.btn-white {
  transition: all ease 0.3s;
  background-color: transparent;
  font-family: OpenSans;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  padding: 10px 30px;
  border-radius: 0px;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.btn-fill-golden {
  transition: all ease 0.3s;
  background-color: #b49761;
  font-family: OpenSans;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  border-color: #b49761;
  border-style: solid;
  border-width: 2px;
  padding: 10px 30px;
  border-radius: 0px;
  &:hover {
    border-color: #a49f95;
    background-color: #a49f95;
  }
}

// start - Hooper slider
.hooper {
  height: 100% !important;
  &:focus {
    outline: none !important;
  }
  .hooper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    &:focus {
      outline: none !important;
    }
  }
  .hooper-list {
    position: relative;
    width: 100% !important;
    &:focus {
      outline: none !important;
    }
  }
  .hooper-track {
    &:focus {
      outline: none !important;
    }
  }

  .hooper-prev {
    background-color: #000;
    color: white;
    border-radius: 30px;
    transition: all 0.3s ease;
    padding: 5px;
    margin-left: 20px;
    svg {
      fill: white;
    }
  }
  .hooper-next {
    background-color: #000;
    color: white;
    border-radius: 30px;
    transition: all 0.3s ease;
    padding: 5px;
    margin-right: 20px;
    svg {
      fill: white;
    }
  }
}
// end - Hooper slider

// start - Custom Dialog
.dialog {
  display: none;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  overflow: auto;
  transition: all 1s;
}
.dialog-active {
  z-index: 1999;
  position: fixed;
  top: 0;
  left: 0;
  display: block !important;
}
// end - Custom Dialog

// start - Medias
@media (max-width: 1200px) {
  .fs-12 {
    font-size: 10px !important;
  }
  .fs-14 {
    font-size: 12px !important;
  }
  .fs-18 {
    font-size: 16px !important;
  }
  .fs-20 {
    font-size: 18px !important;
  }
  .fs-22 {
    font-size: 20px !important;
  }
  .fs-28 {
    font-size: 24px !important;
  }
  .fs-130 {
    font-size: 40px !important;
  }
  .fs-60 {
    font-size: 35px !important;
  }
}
// end - Medias
